:root {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace; 
  padding: 16px;
  line-height: 1.5;
  font-weight: 400;
}

body {  
  color: rgba(247, 247, 247, 0.87);
  background-color: #8a3232;
  }

button {
  background-color: #4925ca;
  color: white;
  border: 2px solid #f8f6ff;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
